body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background: linear-gradient(45deg, #27aae2, #96a1c8, #0d57e2);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.form_Main{
    display: flex;
    width: 400px;
    background-color: white;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid black;
}
#form_Main__input{
    width: 90%;
    height: 30px;
    margin: 5px 0px;
}
#form_Main__btn{
    background-color: rgb(39, 39, 38);
    padding: 5px 5px;
    margin: 5px 0px;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
}
#form_Main__btn:hover{
    opacity: 0.7;
}
.thongBao{
    display: none;
    font-style: italic;
    font-size: 14px;
    color: green;
    font-weight: bold;
}
.lbl{
    margin: 0px 20px;
    align-self: flex-start;
}
.Back{
    margin-right: 20px;
    align-self: flex-end;
    text-decoration: none;
    color: #4e5150;
    font-weight: bold;
}   